.eueu {
    width: 100%;
    height: 400px;
    border-radius: 2rem;
    border-color: #000000;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jk {
    width: 99%;
    height: 99%;
    border-radius: 2rem;
    object-fit: cover;
}