.direitao{
    width: 10%;
}
.esquerdao{
    width: 10%;
}
.conteudao{
    width: 80%;
    padding: 40px;
    padding-top: 60px;
    
}
.botoezoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.botoeszoesladoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 90%;
}
.tabelao{
    border: 2px solid #000;
    width: 90%;
    background-color: #000;
    border-spacing: 1.5px;
    margin: 0 auto;
    border-radius: 5px;
}
.tabelao th{
    background-color: #e7e7e7;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: #2e004f;
    color: #fce859;

    font-family: 'Comic';
    
}
.tabelao tr{
    background-color: #fff;
    table-layout: auto;
}
.tabelao td{
    text-align: center;
    height: 100px;
    min-width: 120px;
}
.editao{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: #290444 solid 3px;
    font-size: 15px;
    font-weight: bold;
    background-color: #4a0d75;
    color: #ffff;
    font-family: 'Comic';
}
.excluidao{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: #a31420 solid 3px;
    font-size: 15px;
    font-weight: bold;
    background-color: #d42e3c;
    color: #ffff;
    font-family: 'Comic';
    
}
.contatao{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: #084404 solid 3px;
    font-size: 15px;
    font-weight: bold;
    background-color: #0f750d;
    color: #ffff;
    font-family: 'Comic';
}

.caixao{
    margin: 0 auto;
    width: 100%;
    background-color: #ffff;
    /* box-: 10px 10px 10px rgba(0, 0, 0, 0.342); */
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.342), 10px 0px 10px rgba(0, 0, 0, 0.342);
}
.titulao{
    text-align: center;
    font-family: 'Comic';
    color: #000;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.centralizao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.textarao{
    width: 95%;
    height: 500px;
    border-radius: 10px;
    /* border: #000 solid 2px; */
    border: none;
    font-size: 20px;
    padding: 10px;
    resize: none;
    margin: 0 auto;
    font-family: arial;
    font-size: 25px;
    text-align: justify;
    color: #000;
}
.dentroimagao{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.imagao{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    
    margin-bottom: 20px;
    margin: 0 auto;
    object-fit: cover;
}