#faq {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

#faq h2 {
  text-align: center;
  color: #2e004f;
  font-size: 28px;
  margin-bottom: 25px;
  margin-top: 50px;
  text-transform: uppercase;
}

.faq-item {
  background-color: #fce859;
  border: 2px solid #2e004f;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.faq-item summary {
  font-size: 18px;
  font-weight: bold;
  color: #2e004f;
  cursor: pointer;
  list-style: none;
  outline: none;
  text-transform: uppercase;
}


.faq-item summary:hover {
  color: #570a8f;
}

.faq-item p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  color: #3a3a3a;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

.faq-item summary::after {
  content: "+";
  float: right;
  font-size: 25px;
  transition: transform 0.2s ease;
}

.faq-item[open] summary::after {
  content: "–";
}