* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: #630000;
  display: flex;
  min-height: 100vh;
  color: #fff;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #161711;
  color: #edebdd;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #edebdd;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #edebdd;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #edebdd;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.conteudo {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding: 40px;
}

.chamado,
.sobre,
.acad,
.hobbies,
.contatos {
  background-color: #edebdd;
  width: 100%;
  margin: 20px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px #161711;
}

.chamado h1 {
  font-size: 100px;
  color: #161711;
  text-transform: uppercase;
}

.chamado span {
  display: block;
  font-size: 18px;
  color: #630000;
  font-weight: bold;
}

.sobre-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sobre-foto img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 1px 2px 10px #161711;
}

.sobre-texto {
  flex: 1;
  color: #161711;
}

.sobre-texto h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #630000;
  text-transform: uppercase;
}

.sobre-texto p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.sobre-galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.sobre-galeria img {
  width: 270px;
  height: 337.5px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #161711;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.sobre-galeria img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 18px #161711;
}

.acad h1,
.hobbies h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #161711;
}

.acad-cards,
.hobbies .acad-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 20px;
  margin-top: 30px;
}

.acad-cards article,
.hobbies .acad-cards article {
  background-color: #edebdd;
  width: 30%; 
  border-radius: 10px;
  box-shadow: 2px 4px 12px #161711;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.acad-cards article:hover,
.hobbies .acad-cards article:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px #161711;
}

.acad-cards h3 a {
  text-decoration: none;
  color: #630000;    
  text-transform: uppercase; 
  text-shadow: 2px 1px 3px black;
}

.acad-cards .card1 img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  height: 250px;
}

.acad-cards .card2 img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  height: 90px;
}

.acad-cards .card3 img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  height: 120px;
}

.hobbies .acad-cards img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
  height: 400px; 
}

.acad-cards h3,
.hobbies .acad-cards h3 {
  font-size: 20px;
  color: #630000;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 1px 3px black;
}

.acad-cards p,
.hobbies .acad-cards p {
  font-size: 17px;
  color: #333;
  text-align: justify;
}

.hobbies .card1 span {
  color: #630000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contatos {
  width: 50%; 
  margin: 20px auto;
  text-align: center;
}

.contatos h1 {
  margin-bottom: 30px;
  color: #161711;
}

.cards-contc {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; 
}

.cards-contc a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 4px 10px #161711;
  background-color: #fff;
  padding: 8px;
}

.cards-contc a img:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 18px #161711;
}
